.contenedor {
    background-color: rgba(255, 255, 255, 0.545);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 500px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #ff0000;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
}

input[type="text"],
textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="file"] {
    margin-top: 5px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:focus {
    outline: none;
}
#mensaje-exito {
    color: green;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
    display: none;
}
